@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
  }

  
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
    height: 100%;
}

header {
    padding-left: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    height: 50px;
    background-color: #212529;
    color: #e9ecef;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.6rem;
    margin: 0;
} 

.navigation h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navigation h5:hover {
    color: #212529;
    background-color: #e9ecef;
    
}

header h1 {
    height: auto;
    width: auto;
}

footer {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    gap: 16px;
    color: #e9ecef;
}

h2 {
    padding: 1rem;
}

main {
    background-color: #e9ecef;
}

.posts {
    padding: 1rem;
    display: grid;
    justify-items: stretch;
    align-items: start;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.posts img {
    height: 200px;
}

.post:hover {
    background-color: #3e444b;
}

.post {
    display: flex;
    gap: 2rem;
    background-color: #495057;
    color: #f8f9fa;
    cursor: pointer;
}

.post_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.postContent {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}

.footerimg {
    width: 30px;
}

@media screen and (max-width: 600px) {
    header {
        justify-content: space-between;
        height: 70px;
    }
    

    .navigation {
        font-size: 1.5rem;
    } 
    
    header h1 { 
        font-size: 2rem;
    }

    .posts {
        flex-wrap: wrap;
        display: flex;
    }

    h2 {
        font-size: 2.5rem;
        padding: .5rem;
        margin: 0;
    }

    .post {
        flex-wrap: wrap;
    }
  }